// Normalize.
@import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css";

/* --------------------------------

Variables & Mixins

-------------------------------- */

@import 'partials/variables';
@import 'partials/prefix-mixins';

/* --------------------------------

Responsive Grid & Media Queries

-------------------------------- */

@import 'partials/layout';

/* --------------------------------

xNavigation

-------------------------------- */


/* --------------------------------

xTypography

-------------------------------- */

@import "partials/typography";

// Background image

body{
    background: url(../assets/bg-top.png) no-repeat top, url(../assets/bg-bottom.png) no-repeat bottom, url(../assets/bg-middle.jpg) repeat-y center; 
    background-color: black;
    background-size: 300%;
    padding: 7rem 1rem;
    @include media-breakpoint-up(sm){
        background-size: 100%;
    }
    @include media-breakpoint-up(md){
        background-size: 1040px;
    }
    @include media-breakpoint-up(lg){
        background-size: 1640px;
    }
}
