@import 'partials/variables';
@import 'partials/prefix-mixins';
@import 'partials/layout'; // responsive grid and media queries

/* -------------------------------- 

xBackground 

-------------------------------- */

body {
	/* this is the page background */
	background-color: $$background-color;
}

/* -------------------------------- 

xPatterns

-------------------------------- */

.cd-box {
	/* this is the container of various design elements - i.e. the 2 logo of the branding section */
	border: 1px solid $$heading-underline;
	border-radius: 3px;
	background: $$background-color;
	box-shadow: 0 1px 1px rgba(#000, .05);
	padding: 6px;
}

@import "partials/navigation";

/* -------------------------------- 

xPage title 

-------------------------------- */

main > h1 {
	color: white;

	@include MQ(L) {
		/* title goes into the header on big devices */
		color: white;
	}
}

@import "partials/typography";
@import "partials/buttons";
@import 'partials/basic-style';