*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}

input, textarea, select {
	font-family: $primary-font;
	font-size: 1.6rem;
}

header {
	position: fixed;
	height: 50px;
	width: 100%;
	top: 0;
	left: 0;
	box-shadow: 0 1px 1px rgba(#000, .1);
	z-index: 10;

	nav {
		display: inline-block;
	}

	@include MQ(M) {
		height: 80px;
		@include clearfix;
	}
}

.cd-logo {
	display: inline-block;
	height: 100%;
	position: relative;

	img {
		position: absolute;
		display: block;
		top: 50%;
		left: 50%;
		@include transform(translateX(-50%) translateY(-50%));
	}

	@include MQ(L) {
		margin-left: 5%;
	}
}

main {
	width: 90%;
	max-width: $M;
	margin: 0 auto;
	padding: 50px 0;

	> h1 {
		text-align: center;
		margin: 3em 0;
	}

	@include MQ(M) {
		padding-top: 80px;
	}

	@include MQ(L) {
		max-width: none;
		padding: 120px 0 50px;

		> h1 {
			position: fixed;
			top: 0;
			left: 50%;
			height: 80px;
			line-height: 80px;
			width: 400px;
			margin: 0 0 0 -200px;
			font-size: 2.6rem;
			z-index: 20;
		}
	}
}

section {
	margin: 3em 0;
	@include clearfix;

	@include MQ(S) {
		margin: 3em 0 5em;
	}

	@include MQ(L) {
		@include column(.48);
		margin: 0 4% 4em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}
}

/* xBranding section - basic style */

.cd-branding {

	.cd-box {
		margin-bottom: 1em;
	}

	img {
		display: block;
		width: 100%;
	}

	ul:last-of-type {
		padding-top: .6em;

		li {
			display: inline-block;
			margin-right: 1em;
		}

		li:nth-of-type(1) img {
			width: 90px;
			height: 90px;
			border-radius: 1em;
		}

		li:nth-of-type(2) img {
			width: 60px;
			height: 60px;
			border-radius: .6em;
		}

		li:nth-of-type(3) img {
			width: 32px;
			height: 32px;
			border-radius: .4em;
		}

		li:nth-of-type(4) img {
			width: 16px;
			height: 16px;
			border-radius: .2em;
		}
	}

	@include MQ(S) {
		.cd-box {
			@include column(.49);
			margin: 0 2% 2em 0;

			&:nth-of-type(2n) {
				margin-right: 0;
			}
		}

		ul:last-of-type {
			clear: left;

			li {
				margin-right: 3em;
			}
		}
	}
}

/* xColor section - basic style */

.cd-colors {

	li {
		text-align: center;
		@include column(.48);
		margin: 0 4% 1em 0;

		&:nth-of-type(2n) {
			margin-right: 0;
		}
	}

	.cd-color-swatch {
		position: relative;
		width: 100%;
		padding: 50% 0;

		&::before, &::after {
			/* lighter and darker color shades of the same swatch */
			content: '';
			position: absolute;
			bottom: 0;
			width: 50%;
			height: 20%;
		}

		&::before {
			left: 0;
		}

		&::after {
			right: 0;
		}
	}

	b {
		display: block;
		padding: .6em 0;
	}

	li:nth-of-type(1) .cd-color-swatch {
		background: $logo-red;

		&::before {
			background: lighten($logo-red, 5%);
		}

		&::after {
			background: darken($logo-red, 5%);
		}
	}

	li:nth-of-type(2) .cd-color-swatch {
		background: $heading-color;

		&::before {
			background: lighten($heading-color, 5%);
		}

		&::after {
			background: darken($heading-color, 5%);
		}
	}

	li:nth-of-type(3) .cd-color-swatch {
		background: $link-color;

		&::before {
			background: lighten($link-color, 5%);
		}

		&::after {
			background: darken($link-color, 5%);
		}
	}

	li:nth-of-type(4) .cd-color-swatch {
		background: $heading-underline;

		&::before {
			background: lighten($heading-underline, 5%);
		}

		&::after {
			background: darken($heading-underline, 5%);
		}
	}

	li:nth-of-type(5) .cd-color-swatch {
		background: $blue;

		&::before {
			background: lighten($blue, 5%);
		}

		&::after {
			background: darken($blue, 5%);
		}
	}
    
    li:nth-of-type(6) .cd-color-swatch {
		background: $green;

		&::before {
			background: lighten($green, 5%);
		}

		&::after {
			background: darken($green, 5%);
		}
	}

    li:nth-of-type(7) .cd-color-swatch {
		background: $background-color;

		&::before {
			background: lighten($background-color, 5%);
		}

		&::after {
			background: darken($background-color, 5%);
		}
	}

	@include MQ(S) {
		li {
			@include column(.19);
			margin: 0 1.25% 1em 0;

			&:nth-of-type(2n) {
				margin-right: 1.25%;
			}

			&:nth-of-type(5n) {
				margin-right: 0;
			}
		}
	}
}

.cd-typography .cd-box {
	padding: 1em;

	@include MQ(S) {
		.cd-box {
			padding: 2em;
		}
	} 
}
