*, *::after, *::before {
	@include box-sizing(border-box);
}

html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html {
	font-size: 10px;
}

body {
	font-size: 1.6rem;
	font-family: $primary-font;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}