// Minimum breakpoint width. Null for the smallest (first) breakpoint.
//
// >> breakpoint-min(sm, (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px))
// 576px
@function breakpoint-min($name, $breakpoints: $grid-breakpoints) {
	$min: map-get($breakpoints, $name);
	@return if($min != 0, $min, null);
}

@function cell-width($breakpoint) {
	@return map-get($main-cell-max-widths, $breakpoint);
}

@mixin make-pseudo-zone ($min-height: 50px, $content: "") {
	content: $content;
	display: block;
	min-height: $min-height;
}

@mixin build-zone ($color: orange) {
	background: $color;
	border: 1px solid black;
}

@mixin build-pseudo-zone($content, $color: orange) {
	@include build-zone($color);
	@include make-pseudo-zone(50px, $content);
	color: black;
	font-family: sans-serif;
	font-size: 2rem;
	padding: 1rem;
	text-align: center;
	text-shadow: none;
}

// Media of at least the minimum breakpoint width. No query for the smallest breakpoint.
// Makes the @content apply to the given breakpoint and wider.
@mixin media-breakpoint-up($name, $breakpoints: $grid-breakpoints) {
	$min: breakpoint-min($name, $breakpoints);
	@if $min {
		@media (min-width: $min) {
			@content;
		}
	} @else {
		@content;
	}
}

@mixin make-grid() {
	display: grid;
}

@mixin make-grid-columns() {
	grid-template-columns: [main-left] [main-right];

	@include media-breakpoint-up(sm) {
		grid-template-columns: 1fr [main-left] cell-width(sm) [main-right] 1fr;
	}

	@include media-breakpoint-up(md) {
		gap: $grid-gap;
		grid-gap: $grid-gap;
		grid-template-columns: 1fr [main-left] cell-width(md) [middle] cell-width(md) [main-right] 1fr;
	}

	@include media-breakpoint-up(lg) {
		grid-template-columns: 1fr [main-left] (cell-width(lg) / 2) [footer-left] (cell-width(lg) / 2) [middle-left] (cell-width(lg) / 2) (cell-width(lg) / 2) [middle-right] (cell-width(lg) / 2) [footer-right] (cell-width(lg) / 2) [main-right] 1fr;
	}
}

@supports (display: grid) {
	body {
		@include make-grid;
		@include make-grid-columns;

		> .page-wrapper {
			&,	
			> section.intro,
			> div {
				display: contents;
			}
		}

		section.intro {
			header {
				grid-column: 1 / span end;

				> h1 {
					text-align: center;

					&::before {
						@include make-pseudo-zone(150px);
						background-image: url("../assets/branding/logo-ver-1.png");
						background-repeat: no-repeat;
						background-position: center;
						background-size: contain;
						margin: auto;
						min-width: 250px;
						width: 50%;
					}

					&::after {
						@include make-pseudo-zone;
						background-color: $logo-red;
						clip-path: polygon(50% 25%, 100% 50%, 50% 75%, 0% 50%);
						-webkit-clip-path: polygon(50% 25%, 100% 50%, 50% 75%, 0% 50%);
						margin: auto;
						width: 35%;
					}
				}
				
				> h2 {
					text-align: center;
					margin: 2rem 0 0 0;

					&::before {
						@include make-pseudo-zone(300px);
						background-image: url("../assets/zen-garden-map-sm.jpg");
						background-repeat: no-repeat;
						background-position: top;
						background-size: contain;
						margin: 2rem auto -8rem auto;
						width: 95%;
						@include media-breakpoint-up(sm) {
							background-image: url("../assets/zen-garden-map-md.jpg");
							margin-bottom: 2rem;
						}
						@include media-breakpoint-up(md) {
							background-image: url("../assets/zen-garden-map-lg.jpg");
							margin-bottom: 4rem;
						}
						@include media-breakpoint-up(lg) {
							background-image: url("../assets/zen-garden-map-xl.jpg");
						}
					}
				}
			}

			> div {
				@include media-breakpoint-up(sm) {
					grid-column-start: main-left;
				}
			}
		}

		footer {
			grid-row-start: 9;
			text-align: center;
			font-family: $footer-font;
			font-size: 16px;
			margin-top: 3rem;

			& a{
				color: $link-color;
				text-decoration: none;
				padding: .5rem .7rem;
				margin: -.25rem;
				border-top: 2px solid $heading-underline;
				border-bottom: 2px solid $heading-underline;
			}

			&::after {
				@include make-pseudo-zone(50px, "DISCLAIMER: This page is a fan-made work, and is not affiliated with Wizards of the Coast. We acknowledge Wizards of the Coast and its products as the inspiration for the design of this page. Dungeons & Dragons, D&D, Wizards of the Coast, the dragon ampersand, all Wizards of the Coast product names, and their respective logos are trademarks of Wizards of the Coast in the USA and other countries.");
				margin: 3rem 0 -2rem 0;
			}
		}

		aside {
			&:before, &:after {
				content: "";
				display: block;
				background-color: black;
				height: 10px;
			}

			&:before {
				clip-path: polygon(0px 10px,100% 10px,calc(100% - 20px) 0px,calc(100% - 20px) 8px,20px 8px,20px 0px);
				-webkit-clip-path: polygon(0px 10px,100% 10px,calc(100% - 20px) 0px,calc(100% - 20px) 8px,20px 8px,20px 0px);
			}

			&:after {
				clip-path: polygon(20px 10px,20px 2px,calc(100% - 20px) 2px,calc(100% - 20px) 10px,100% 0px,0px 0px);
				-webkit-clip-path: polygon(20px 10px,20px 2px,calc(100% - 20px) 2px,calc(100% - 20px) 10px,100% 0px,0px 0px);
			}
			@import "navigation";

			margin-top: 2.5rem;
		}

		@include media-breakpoint-up(sm) {
			section.intro > div,
			div.main > div,
			aside.sidebar,
			footer {
				grid-column-start: main-left;
			}
		}

		@include media-breakpoint-up(md) {
			div.summary,
			footer {
				grid-column: main-left / span main-right;
			}

			div.main > div.explanation,
			div.main > div.benefits,
			aside.sidebar {
				grid-column-start: middle;
			}

			div.benefits {
				&::after {
					@include make-pseudo-zone(150px);
					background-image: url("../assets/zen-garden-illustration.png");
					background-repeat: no-repeat;
					background-position: top;
					background-size: contain;
					height: 100%;
				}
			}

			footer {
				grid-row-start: 6;
			}
		}

		@include media-breakpoint-up(lg) {
			div.main > div.explanation,
			div.main > div.requirements {
				grid-column-start: middle-left;
				grid-column-end: span 2;
			}

			div.main > div.participation,
			aside.sidebar {
				grid-column-start: middle-right;
				grid-column-end: span 2;
			}

			div.preamble,
			div.main > div.benefits {
				grid-column-start: main-left;
				grid-column-end: span 2;
			}

			footer {
				grid-row-start: 5;
				grid-column: footer-left / span footer-right;
			}
		}
	}
}
