
/* -------------------------------- 

xNavigation 

-------------------------------- */

header {
	background-color: $heading-color;
}

.cd-logo {
	/* logo box style */
	background-color: $logo-red;
	width: 120px;

	@include MQ(M) {
		width: 180px;
	}
}

.cd-main-nav {
	/* main navigation background color - full screen on small devices */
	background: $heading-color;

	li a {
		color: $blue;
		border-color: lighten($heading-color, 5%);
	}

	@include MQ(M) {
		li a {
			color: lighten($heading-color, 40%);

			&.selected {
				color: $blue;
				box-shadow: 0 2px 0 $logo-red;
			}

			.no-touch &:hover {
				color: $blue;
			}
		}
	}
}

.cd-nav-trigger span {
	/* hamburger menu */
	background-color: $blue;

	&::before,
	&::after {
		/* upper and lower lines */
		background-color: $blue;
	}
}

.nav-is-visible .cd-nav-trigger span {
	/* hide line in the center on mobile when nav is visible */
	background-color: rgba($blue, 0);

	&::before, &::after {
		/* preserve visibility of upper and lower lines - close icon */
		background-color: rgba($blue, 1);
	}
}

.cd-download {
	/* download button top-right visible on big devices */
	background-color: lighten($heading-color, 10%);

	.no-touch &:hover {
		background-color: lighten($heading-color, 15%);
	}

	span {
		/* tooltip */
		background: $logo-red;
		color: $blue;

		&::before {
			/* right arrow color */
			border-color: $logo-red;
		}
	}
}
