& > div {
	@include make-grid;
	background-color: $blue;
	grid-template-columns: [left] 1fr [middle] 1fr [right];
	padding: 2rem;

	h3 {
		color: black;
		border-bottom: none;
		font-family: $nav-heading-font;
		font-size: 20px;
		font-variant: small-caps;
		margin: 0.5rem 0;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;

		> li {
			padding: 0.1rem 0;
			> a {
				color: $link-color;
				font-family: $text-box-font;
				font-size: 14px;
				text-decoration: none;
			}
		}
	}

	.design-selection {
		grid-column: left / span right;
		ul {
			> li {
				@include make-grid;
				grid-template-columns: [left] 1fr [middle-left] 0px [middle-right] 1fr [right];
				visibility: collapse;

				&:nth-of-type(2n+1) {
					a {
						background-color: $green;
					}
				}

				a {
					padding: 0.3rem 1rem;
					visibility: visible;

					&first-child {
						grid-column: left / span middle-left;
					}

					&last-child {
						grid-column: middle-right / span right;
					}
				}
			}
		}
	}

	.design-archives {
		grid-column: left / span middle;
	}

	.zen-resources {
		grid-column: middle / span right;
	}
}

// Moved in parent file.

// &:before, &:after {
// 	content: "";
// 	display: block;
// 	background-color: black;
// 	height: 10px;
// }

// &:before {
// 	clip-path: polygon(0px 10px,100% 10px,calc(100% - 20px) 0px,calc(100% - 20px) 8px,20px 8px,20px 0px);
// 	-webkit-clip-path: polygon(0px 10px,100% 10px,calc(100% - 20px) 0px,calc(100% - 20px) 8px,20px 8px,20px 0px);
// }

// &:after {
// 	clip-path: polygon(20px 10px,20px 2px,calc(100% - 20px) 2px,calc(100% - 20px) 10px,100% 0px,0px 0px);
// 	-webkit-clip-path: polygon(20px 10px,20px 2px,calc(100% - 20px) 2px,calc(100% - 20px) 10px,100% 0px,0px 0px);
// }
