@mixin opening {
	font-family: $text-box-font;
	font-size: 14px;
	line-height: 1.8;
	padding: 10px;
	background-color: $blue;
	border-left: 2px solid $heading-color;
	border-right: 2px solid $heading-color;
	position: relative;
    &::before, &::after{
        content: "";
        display: block;
        position: absolute;
        width: calc(100% - 4px);
        height: 12px;
        margin-right: 10px;
        border-left: 6px dotted $heading-color;
        border-right: 6px dotted $heading-color;
    }
    &::before{
        border-image: url(../assets/box-text-corner-top.svg) 4 / 6px / 0px;
        top: -3px;
        left: -4px;
    }
    &::after{
        border-image: url(../assets/box-text-corner-bottom.svg) 4 / 6px / 0px;
        bottom: -3px;
        left: -4px;
    }
}

h2, h3 {
	font-family: $heading-font;
	color: $heading-color;
}

h1 {
	font-family: $title-font;
	color: white;
	letter-spacing: .025em;
	text-shadow: 	-3px -3px 0px black,
								3px 3px 0px black,
								-3px 3px 0px black,
								3px -3px 0px black,
								-3px -2px 0px black,
								3px 2px 0px black,
								-3px 2px 0px black,
								3px -2px 0px black,
								-3px -1px 0px black,
								3px 1px 0px black,
								-3px 1px 0px black,
								3px -1px 0px black,
								-3px 0px 0px black,
								3px 0px 0px black,
								-2px -3px 0px black,
								2px 3px 0px black,
								-2px 3px 0px black,
								2px -3px 0px black,
								-1px -3px 0px black,
								1px 3px 0px black,
								-1px 3px 0px black,
								1px -3px 0px black,
								0px -3px 0px black,
								0px 3px 0px black;
	// -webkit-text-stroke: .3px black;
	// text-stroke: .3px black;
	text-transform: uppercase;
	font-size: 66px;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include media-breakpoint-up(md) {
		font-size: 96px;
		// -webkit-text-stroke-width: .5px;
	}
}

h2 {
	margin: 1em 0;
	font-size: 36px;
}

h3 {
	margin: 1em 0;
	font-size: 24px;
	border-bottom: 2px solid $heading-underline;
	padding-bottom: .1rem;
	&.nav{
		font-family: $nav-heading-font;
		font-size: 1.7rem;
		color: black;
		border-bottom: 0;
		font-variant: small-caps;
		&::before{
			content: none!important;
		}
	}

	+ p {
		@include opening;
	}
}

/* Numbers before h3's */

.preamble > h3::before {
	content: '1. ';
}
.explanation > h3::before {
	content: '2. ';
}
.participation > h3::before {
	content: '3. ';
}
.benefits > h3::before {
	content: '4. ';
}
.requirements > h3::before {
	content: '5. ';
}


p {
	font-size: 16px;
	line-height: 1.6;
	color: black;
	font-family: $primary-font;

	a {
		color: $link-color;
		text-decoration: none;
	}

	&.footer{
		font-family: $footer-font;
	}
}