
/* -------------------------------- 

xTypography 

-------------------------------- */

h2, h3 {
	font-family: $heading-font;
	color: $heading-color;
}

h1 {
    font-family: $title-font;
    color: white;
    letter-spacing: .025em;
    text-shadow:
        -3px -3px 0px black,
        3px 3px 0px black,
        -3px 3px 0px black,
        3px -3px 0px black,
        -3px -2px 0px black,
        3px 2px 0px black,
        -3px 2px 0px black,
        3px -2px 0px black,
        -3px -1px 0px black,
        3px 1px 0px black,
        -3px 1px 0px black,
        3px -1px 0px black,
        -3px 0px 0px black,
        3px 0px 0px black,
        -2px -3px 0px black,
        2px 3px 0px black,
        -2px 3px 0px black,
        2px -3px 0px black,
        -1px -3px 0px black,
        1px 3px 0px black,
        -1px 3px 0px black,
        1px -3px 0px black,
        0px -3px 0px black,
        0px 3px 0px black;
//    -webkit-text-stroke: .3px black;
//    text-stroke: .3px black;
    text-transform: uppercase;
	font-size: 5.4rem;
	line-height: 1.2;
	margin: 0 0 .4em;

	@include MQ(S) {
		font-size: 7.6rem;
//        -webkit-text-stroke-width: .5px;
	}
}

h2 {
	margin: 1em 0;
    font-size: 3rem;
}

h3 {
	margin: 1em 0;
    font-size: 2rem;
    border-bottom: 1px solid $heading-underline;
    padding-bottom: .1rem;
}

section > h3::before {
	/* number before each section title */
	color: darken($heading-underline, 15%);
}

aside h3{
    font-family: $text-box-font;
    font-size: 1.7rem;
    color: black;
    border-bottom: 0;
    font-variant: small-caps;
    &::before{
        content: none!important;
    }
}

p {
	font-size: 1.4rem;
	line-height: 1.6;
	color: black;

	a {
		color: $link-color;
	}
    
    &.opening{
        font-family: $text-box-font;
        font-size: 1.3rem;
        line-height: 1.4;
        padding: 10px;
        background-color: $blue;
        border-left: 2px solid $heading-color;
        border-right: 2px solid $heading-color;
        position: relative;
        &::before,&::after{
            content: " ";
            display: block;
            height: 0px;
            width: calc(100% + (8px));
            border-left: 6px dotted $heading-color;
            border-right: 6px dotted $heading-color;
            padding: 3px 10px;
//            border-radius: 100%;
//            background-color: $heading-color;
            position: absolute;
        }
        &::before{
            top: -2px;
            left: -4px;  
        }
        &::after{
            bottom: -2px;
            right: -4px;
        }
    }
    
    &.footer{
        font-family: $footer-font;
    }
}