
// color palette - these colors will be the color swatches of the Colors section

$color-1: #ef3f3f; // Color of the D&D logo
$color-2: #8b281c; // Heading color
$color-3: #a1452e; // Link color
$color-4: #d3b63b; // <hr> color
$color-5: #dcdee0; // Box text background color
$color-6: #bdd4d1; // Box text row color

// additional colors

$success: #6fce72; // green
$alert: $color-3;  // red

// fonts

$primary-font: 'Merriweather', serif;
$secondary-font: 'Open Sans', sans-serif;
