
// color palette - these colors will be the color swatches of the Colors section

$logo-red: #ef3f3f; 			// Color of the D&D logo
$heading-color: #8b281c; 		// Heading color
$link-color: #a1452e; 			// Link color
$heading-underline: #d3b63b; 	// <hr> color
$blue: #dcdee0; 				// Box text background color
$green: #bdd4d1; 				// Box text row color
$background-color: #f8f6e5; 	// Background color

// additional colors

$success: #6fce72; 		// green
$alert: $link-color;  	// red

// fonts

//Bookinsanity
@font-face {
    font-family: Bookinsanity;
    src: url(../assets/fonts/Bookinsanity.otf);
}
@font-face {
    font-family: BookinsanityBold;
    src: url(../assets/fonts/BookinsanityBold.otf);
}
@font-face {
    font-family: BookinsanityItalic;
    src: url(../assets/fonts/BookinsanityItalic.otf);
}
@font-face {
    font-family: BookinsanityBoldItalic;
    src: url(../assets/fonts/BookinsanityBoldItalic.otf);
}

//MrEavesSmallCaps
@font-face {
    font-family: MrEavesSmallCaps;
    src: url(../assets/fonts/MrEavesSmallCaps.otf);
}

//ScalySans
@font-face {
    font-family: ScalySans;
    src: url(../assets/fonts/ScalySans.otf);
}
@font-face {
    font-family: ScalySansBold;
    src: url(../assets/fonts/ScalySansBold.otf);
}
@font-face {
    font-family: ScalySansItalic;
    src: url(../assets/fonts/ScalySansItalic.otf);
}
@font-face {
    font-family: ScalySansBoldItalic;
    src: url(../assets/fonts/ScalySansBoldItalic.otf);
}

//Nodesto
@font-face {
    font-family: Nodesto;
    src: url(../assets/fonts/NodestoCapsCondensed.otf);
}

//ZatannaMisdirection
@font-face {
    font-family: ZatannaMisdirection;
    src: url(../assets/fonts/ZatannaMisdirection.otf);
}
@font-face {
    font-family: ZatannaMisdirectionItalic;
    src: url(../assets/fonts/ZatannaMisdirectionItalic.otf);
}

$primary-font: 'Bookinsanity', serif;
$heading-font: 'MrEavesSmallCaps', serif;
$text-box-font: 'ScalySans', sans-serif;
$title-font: 'Nodesto', serif;
$footer-font: 'ZatannaMisdirection', sans-serif;
$nav-heading-font: 'ScalySansBold', sans-serif;